/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 1.25em;
  font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
