/* General Reset */
html {
  box-sizing: border-box;
  max-width: 70ch;
  margin: auto;
  line-height: 1.4;
  font-size: 1.25em;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  justify-items: center;
  align-content: center;
}

/* Button styles */
button {
  padding: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #0056b3;
}
